:root {

}

body {
    background: url(./images/wallpaperflare.com_wallpaper.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.background {
    width: 100vw;
    height: 100vh;
    box-shadow: 0 0 1rem 0 rgba(0,0,0,.2);
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
}

.background::before {
    content: "";
    position:absolute;
    background:inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255,.5);
    filter: blur(2px);
    margin: -200px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background: transparent;
    color: white;
    height: 125px;
}

h1 {
    font-size: 45px;
    font-family: 'helvetica', 'consolas', 'Arial', sans-serif;
    height: 125px;
    width: 60vw;
}

article {
    background-image:url(./images/2560x1440-blue-grid-4k_1616870954.jpg);
    width: 95vw;
    margin-left: 40px;
    padding: 20px;
}

section {
    background: url();
    width: 95vw;
    margin-right: 40px;
    padding: 20px;
}

.neontext {
    display: flex;
    color: rgb(0, 0, 0);
    animation: pulsate 2.5s infinite alternate;
    text-shadow:
    0 0 7px #fff, 
    0 0 10px rgb(7, 139, 247), 
    0 0 21px rgb(7, 139, 247), 
    0 0 41px rgb(4, 28, 245), 
    0 0 82px rgb(4, 28, 245);
}

#christopher {
    display: inline-block;
    content: " ";
    color: black;
    text-shadow:
    0 0 7px #fff, 
    0 0 10px rgb(7, 139, 247), 
    0 0 21px rgb(7, 139, 247), 
    0 0 41px rgb(4, 28, 245), 
    0 0 82px rgb(4, 28, 245);
    animation: flicker 1.5s infinite alternate;
}
    
@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px rgb(7, 139, 247),
        0 0 80px rgb(7, 139, 247),
        0 0 90px rgb(7, 139, 247),
        0 0 100px rgb(4, 28, 245),
        0 0 150px rgb(4, 28, 245),
        
    }
    20%, 24%, 55% {
        text-shadow: none;
    }
}

@keyframes pulsate {
    100% {
      /* Larger blur radius */
    text-shadow:
    0 0 4px #fff, 
    0 0 11px rgb(7, 139, 247), 
    0 0 19px rgb(7, 139, 247), 
    0 0 40px rgb(4, 28, 245), 
    0 0 80px rgb(4, 28, 245);
    }
    0% {
      /* Smaller blur radius */
    text-shadow:
    0 0 2px #fff, 
    0 0 4px rgb(7, 139, 247), 
    0 0 6px rgb(7, 139, 247), 
    0 0 10px rgb(4, 28, 245), 
    0 0 45px rgb(4, 28, 245);
    }
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    text-shadow:
    0 0 7px #fff, 
    0 0 10px #ff00bf, 
    0 0 21px #ff00bf, 
    0 0 41px #ff009d, 
    0 0 82px #ff009d;
}

nav a {
    color: rgb(7, 91, 247);
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {

}

#about-me {
    color:rgb(7, 91, 247);
    font-weight: bold;
    font-size: 32px;
    float: right;
    text-decoration: underline;
    text-shadow:
    0 0 7px #fff, 
    0 0 10px #ff00bf, 
    0 0 21px #ff00bf, 
    0 0 41px #ff009d, 
    0 0 82px #ff009d;
}

#current-work {
    color: black;
    font-weight: bold;
    font-size: 32px;
    float: left;
    text-decoration: underline;
    text-shadow:
    0 0 7px #fff, 
    0 0 10px #ff00bf, 
    0 0 21px #ff00bf, 
    0 0 41px #ff009d, 
    0 0 82px #ff009d;
}

#contact-me {
    color: white;
    font-size: 24px;
    text-decoration: underline;
    text-shadow:
    0 0 7px #fff, 
    0 0 10px #ff00bf, 
    0 0 21px #ff00bf, 
    0 0 41px #ff009d, 
    0 0 82px #ff009d;
}

footer ul {
    color: rgb(7, 91, 247);
}
footer content {
    display: flex;
    justify-content: space-evenly;
    background: transparent;
    width: 100vw;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@font-face{
    font-family: retrofuturism;
    src: url('./fonts/Retrofuturism.otf');
    src: url('./fonts/Retrofuturism.otf?#iefix') format('embedded-opentype'),
         url('./fonts/Retrofuturism.woff2') format('woff2'),
         url('./fonts/Retrofuturism.ttf') format('truetype'),
         url('./fonts/Retrofuturism.svg#retrofuturism') format('svg');
    font-weight: normal;
    font-style: normal;
}