/* Sets background for the entire page */ 
.background {
    width: 100vw;
    height: 100vh;
    box-shadow: 0 0 1rem 0 rgba(0,0,0,.2);
    position: absolute;
    z-index: 1;
    background: inherit;
    overflow: scroll;
    overflow-y: auto;
    display: grid;
    align-items: center;
    justify-content: center;
}
/* sets formatting for body of site */
body {
    background: url(./images/wallpaperflare.com_wallpaper.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
/* sets header to flex, and formats the base of the header section */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background: transparent;
    color: white;
    height: 125px;
    margin-bottom: 940px;
}
/* stylizes h1 within header */
h1 {
    font-size: 45px;
    font-family: 'helvetica', 'consolas', 'Arial', sans-serif;
    height: 125px;
    width: 60vw;
}
/* adds glow effect to, and sets nav ul to flex */
nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    text-shadow:
    0 0 7px #fff, 
    0 0 10px #ff00bf, 
    0 0 21px #ff00bf, 
    0 0 41px #ff009d, 
    0 0 82px #ff009d;
}
/* sets font style values for nav a elements */
nav a {
    color: rgb(2, 0, 138);
    font-weight: bold;
    text-decoration: none;
}
/* background image and styling for article base */
article {
    display: block;
    background-image:url(./images/2560x1440-blue-grid-4k_1616870954.jpg);
    border-radius: 25px;
    width: 95vw;
    margin-left: 40px;
    padding: 20px;
    display: column;
    margin-bottom: 400px;
}
/* sets article header to display: block */
article header {
    display: block;
}
/* article img settings */
article img {
    max-height: 300px;
    max-width: 300px;
    margin: 10px;
}
/* article h2 style and glow effect */
article h2 {
    margin-bottom: 20px;
    color:rgb(7, 91, 247);
    font-weight: bold;
    font-size: 32px;
    padding: 20px 20px 20px 0px;
    align-items: start;
    text-decoration: underline;
    text-shadow:
    0 0 7px #fff, 
    0 0 10px #ff00bf, 
    0 0 21px #ff00bf, 
    0 0 41px #ff009d, 
    0 0 82px #ff009d;
}
/* article p element text color and indent */
article p {
    display: block;
    color: #32A956;
    text-indent: 75px;
    
}
/* base formatting for section */
section {
    background: url(./images/teahub.io-star-wars-moving-wallpaper-927112.png);
    border-radius: 25px;
    width: 95vw;
    margin-left: 40px;
    padding: 20px;
    color: #32A956;
    margin-bottom: 100px;
}
/* flex settings for section header */
section header {
    display: grid;
    justify-items: center;
    justify-content: center;
}
/* section h2 styling and glow effect */
section h2 {
    color: black;
    margin-top: 40px;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 32px;
    float: left;
    text-decoration: underline;
    text-shadow:
    0 0 7px #fff, 
    0 0 10px #ff00bf, 
    0 0 21px #ff00bf, 
    0 0 41px #ff009d, 
    0 0 82px #ff009d;
}

section a {
    width: 100%;
}

footer {
    display: flex;
    margin-bottom: 69px;
}
footer content {
    display: flex;
    justify-content: space-evenly;
    background: transparent;
    width: 100vw;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
footer a {
    color: rgb(1, 0, 85);
}
/* added neon glow around site title, and font color */
.neontext {
    display: flex;
    color: rgb(0, 0, 0);
    animation: pulsate 2.5s infinite alternate;
    text-shadow:
    0 0 7px #fff, 
    0 0 10px rgb(7, 139, 247), 
    0 0 21px rgb(7, 139, 247), 
    0 0 41px rgb(4, 28, 245), 
    0 0 82px rgb(4, 28, 245);
}

#christopher {
    display: inline-block;
    content: " ";
    color: black;
    text-shadow:
    0 0 7px #fff, 
    0 0 10px rgb(7, 139, 247), 
    0 0 21px rgb(7, 139, 247), 
    0 0 41px rgb(4, 28, 245), 
    0 0 82px rgb(4, 28, 245);
    animation: flicker 1.5s infinite alternate;
}
    
@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px rgb(7, 139, 247),
        0 0 80px rgb(7, 139, 247),
        0 0 90px rgb(7, 139, 247),
        0 0 100px rgb(4, 28, 245),
        0 0 150px rgb(4, 28, 245),
        
    }
    20%, 24%, 55% {
        text-shadow: none;
    }
}

@keyframes pulsate {
    100% {
      /* Larger blur radius */
    text-shadow:
    0 0 4px #fff, 
    0 0 11px rgb(7, 139, 247), 
    0 0 19px rgb(7, 139, 247), 
    0 0 40px rgb(4, 28, 245), 
    0 0 80px rgb(4, 28, 245);
    }
    0% {
      /* Smaller blur radius */
    text-shadow:
    0 0 2px #fff, 
    0 0 4px rgb(7, 139, 247), 
    0 0 6px rgb(7, 139, 247), 
    0 0 10px rgb(4, 28, 245), 
    0 0 45px rgb(4, 28, 245);
    }
}

#contact-me {
    color: white;
    font-size: 24px;
    text-decoration: underline;
    text-shadow:
    0 0 7px #fff, 
    0 0 10px #fcba05, 
    0 0 21px #fcba05, 
    0 0 41px #fcae05e8, 
    0 0 82px #fcae05e8;
}

.box {
    margin: auto;
    width: 95%;
    height: 95%;
    box-shadow: 0 0 1rem 0 rgba(0,0,0,.2);
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
    border-radius: 25px;
}

.box::before {
    content: "";
    position:absolute;
    background:inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 
        inset 0 0 2000px rgba(255, 255, 255,.5);
    filter: blur(5px);
}

.float-right {
    float: right;
    margin-left: 25px;
}

.steve {
    display: flex;
    position: relative;
    padding: 10px;
    text-align: left;
    border-radius: 25px;
    min-width: 400px
}

#latest-project {
    width: 100%;
}

.steve img {
    width: 100%;
    min-width: 300px;
    border-radius: 25px;
}

.steve:hover img {
    opacity: 0.3;
}

.steve:hover .cheryl {
    opacity: 1;
}

.cheryl p {
    background-attachment: black;
    color: #32A956;
    font-size: 16px;
    padding: 16px 32px;
}


.cheryl {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    background: black;
    border: solid;
    border-color: #32A956;
}

@media screen and (max-width: 768px) {
    header,
    nav {
        display: block;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: space-between;
        padding: 30px;
    }

    article {
        margin-left: 12px;
    }

    section {
        flex-direction: column;
        flex-wrap: nowrap;
        margin-left: 19px;
    }

    section h2 {
        margin-bottom: 100px;
    }
    
    footer content {
        flex-direction: column;
    }
    .box {
        width: 100%;
    }
    .steve {
        order: 2;
    }
    
    #latest-project {
        margin-right: 0px;
    }
}

@media screen and (max-width: 468px) {
    body {
        flex-direction: column;
    }
    
    h1 {
        font-size: 30px;
        margin-left: 15px;
    }
    
    article {
        margin-left: 40px
    }
    section {
        margin-left: 40px;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    
    section header {
        display: grid;
        justify-content: center;
        justify-items: center;
    }
    footer {
        margin-left: 40px;
    }
    footer content {
        flex-direction: column;
    }
    .box {
        width: 100%;
    }
    h2 {
        width: 100%;
    }

    section h2 {
        width: 100%;
        font-size: 20px;
        text-align: center;
    }

    .steve {
        width: 100%;
        justify-content: space-around;
    }
    .steve img {
        width: 68%;
        min-width: 247px; 
    }

    #latest-project {
        margin-right: -112px;
    }
}